<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- register the selenium config section -->
    <section name="seleniumConfig" type="Radio7.BDD.Config.SeleniumConfig, Radio7.BDD"  />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    
    <!-- use the mstest provider instead of default nunit -->
    <unitTestProvider name="MsTest" />
    
    <!-- register common steps and dependancy resolution -->
    <stepAssemblies>
      <stepAssembly assembly="Radio7.BDD" />
    </stepAssemblies>
  </specFlow>
  
  <!-- configure selenium -->
  <seleniumConfig
    baseUrl="http://localhost/"
    webDriverType="Firefox|Chrome|IE" />
</configuration>