<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="seleniumConfig" type="Radio7.BDD.Config.SeleniumConfig, Radio7.BDD"  />
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <stepAssemblies>
      <stepAssembly assembly="Radio7.BDD" /> 
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>

  <seleniumConfig
    baseUrl="http://localhost:50523/"
    webDriverType="Firefox" />
    
</configuration>